.og-grid {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
    max-width: 1280px;
}

.og-grid li {
	display: inline-block;
	/* margin: 120px auto 0; */
    margin: 10% 4.5% 0;    
    
	vertical-align: top;
	/* height: 250px; */
}

.og-grid li.header {
    margin: 10% auto 0;
}

/*
.og-grid li a,
.og-grid li a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
}
*/

.og-grid li.og-expanded .ch-item::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #ddd;
	border-width: 15px;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.og-expander {
	position: absolute;
	background: #ddd;
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	height: 0;
	overflow: hidden;
}

.og-expander-inner {
	padding: 25px;
	height: 100%;
}

.og-close {
	position: absolute;
	width: 40px;
	height: 40px;
    
    right: 2%;
    top: 2%;
    padding: 3px 5px 4px 7px;
    
    border: 1px solid;
    border-radius: 50%;
	cursor: pointer;
    z-index: 10;
}

.og-close:hover {
    box-shadow: 0 0 5px 0 white;
}

/*

.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 3px;
	background: #888;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.og-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	background: #333;
}
*/

.og-fullimg,
.og-details {
	width: 50%;
	float: left;
	/* height: 100%; */
	overflow: hidden;
	position: relative;
}

.og-details {    
	padding: 0 2% 0 10%;
}

.og-fullimg {
	text-align: center;
}

.og-fullimg img {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
}

.og-details h3 {
	/* font-weight: 300; */
	font-size: 52px;
	padding: 3% 0 6% 0;
	margin-bottom: 10px;
    line-height: 1.1;
}

.og-details p {
	font-weight: 400;
	font-size: 20px;
	line-height: 1.5;
	color: #999;
}

.og-details a {
	font-weight: 700;
	font-size: 15px;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 0px 20px; 
	border: 3px solid #333;
	display: inline-block;
	margin: 75px 30px 0 0;
	outline: none;
    width: 250px;    
    height: 55px;
    line-height: 3.2;
    text-align: center;
    background-color: #faf1e0;
}

.og-details a::before {
    /*
	content: '\2192';
	display: inline-block;
	margin-right: 10px;
    */
}

.og-details a:hover {
	border-color: #999;
	color: #999;
}

.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ddd;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

	.og-expander h3 { font-size: 32px; }
	.og-expander p { font-size: 13px; }
	.og-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

	.og-fullimg {
        display: none;
    }
	.og-details {
        float: none; width: 100%;
    }
	
}


/***** Stack Effect *****/

.stack {
    float: left;
	margin: 2% auto 2% 4%;
	width: 600px;
	padding: 0;
	position: relative;
	max-width: 100%;
}

.stack figure {
    margin: 0;
    padding: 0;
}

.stack img {
	max-width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	outline: 1px solid transparent;
}

.stack img:last-child {
	position: relative;
}

/* Individual effects */


/* Side Grid */
.stack-sidegrid img:first-child,
.stack-sidegrid img:nth-child(2),
.stack-sidegrid img:nth-child(3) {
	-webkit-transform: scale(0);
	transform: scale(0);
}

.stack-sidegrid img:nth-child(4) {
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

.stack-sidegrid img:nth-child(3) {
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

.stack-sidegrid img:nth-child(2) {
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

.stack-sidegrid img:first-child {
	-webkit-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}

.stack-sidegrid.active img {
	-webkit-transform: scale(0.48);
	transform: scale(0.48);
}


/**** Morph Button trailer ****/


/* Morph Button: Default Styles */

.morph-button {
	position: relative;
	display: block;
	margin: 0 auto;
}

.morph-button > button {
	position: relative;
	/* padding: 0 1em;
    padding: 10px 20px;
	line-height: 80px;
    */
	border: none;
	background-color: #e85657;
	color: #f9f6e5;
    font-family: Candara;
    font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
    text-align: center;
	letter-spacing: 2px;
	overflow: hidden;
}

.morph-button.open > button {
	pointer-events: none;
}

.morph-content {
	pointer-events: none;
}

.morph-button.open .morph-content {
	pointer-events: auto;
}

/* Common styles for overlay and modal type (fixed morph) */
.morph-button-fixed,
.morph-button-fixed .morph-content {
	width: 250px;
    height: 55px;
	margin: 75px 30px 0 0;
    border: 3px solid #333;
}

.morph-button-fixed.active.open {
    border: none;
}

.morph-button-fixed:hover, .morph-button-fixed:hover > button{
    border-color: #999;
    color: #999;
}

.morph-button-fixed > button {
	z-index: 1000;
	width: 100%;
	height: 100%;
    /*
	-webkit-transition: opacity 0.1s 0.5s;
	transition: opacity 0.1s 0.5s;
    */
}

.morph-button-fixed.open > button {
	opacity: 0;
	-webkit-transition: opacity 0.1s;
	transition: opacity 0.1s;
}

.morph-button-fixed .morph-content {
	position: fixed;
	z-index: 900;
	opacity: 0;
	-webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
	transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
}

.morph-button-fixed.open .morph-content {
	opacity: 1;
}

.morph-button-fixed .morph-content > div {
	visibility: hidden;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
	transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
}

.morph-button-fixed.open .morph-content > div {
	visibility: visible;
	height: auto;
	opacity: 1;
	-webkit-transition: opacity 0.3s 0.5s;
	transition: opacity 0.3s 0.5s;
}

.morph-button-fixed.active > button {
	z-index: 2000;
}

.morph-button-fixed.active .morph-content {
	z-index: 1900;
}

/* Morph Button Style: Modal */
.morph-button-modal::before {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 800;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	pointer-events: none;
}

.morph-button-modal.open::before {
	opacity: 1;
	pointer-events: auto;
}

.morph-button-modal.active::before {
	z-index: 1800;
}

.morph-button-modal .morph-content {
	overflow: hidden;
	-webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
	transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
}

.morph-button-modal.open .morph-content {
	top: 50% !important;
	left: 50% !important;
	margin: -210px 0 0 -300px;
	width: 600px;
	height: 420px;
	-webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
	transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
}

.morph-button-modal-4 {
	display: inline-block;
}

.morph-button-modal-4 > button,
.morph-button-modal-4 .morph-content {
	background-color: #faf1e0;
	color: #553445;
}

.morph-button-modal-4 > button span,
.morph-button-modal-4 .morph-clone {
	padding-left: 10px;
	color: #286f81;
}

.morph-button-modal-4 .morph-clone {
	position: absolute;
	right: 34px;
	bottom: 30px;
	z-index: 100;
	letter-spacing: 1px;
	font-weight: 700;
	-webkit-transition: bottom 0.4s 0.1s, right 0.4s 0.1s;
	transition: bottom 0.4s 0.1s, right 0.4s 0.1s;
}

.morph-button-modal-4.open .morph-clone,
.no-js .morph-button-modal-4 .morph-clone {
	right: 10px;
	bottom: 10px;
}


.morph-button-modal-4.open .morph-content {
	margin: -200px 0 0 -320px;
	width: 640px;
	height: 360px;
}

/* Let's add some nice easing for all cases */
.morph-button .morph-content,
.morph-button.open .morph-content,
.morph-button-modal-4 .morph-clone {
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

/* Helper classes */
.noscroll {
	overflow: hidden;
}

.morph-button-overlay.scroll .morph-content {
	overflow-y: scroll;
}

.morph-button-sidebar.scroll .morph-content {
	overflow: auto;
}

/* No JS fallback: let's hide the button and show the content */
.no-js .morph-button > button {
	display: none;
}

.no-js .morph-button {
	margin: 10px 0;
	float: none;
}

.no-js .morph-button,
.no-js .morph-button .morph-content,
.no-js .morph-button .morph-content > div {
	position: relative;
	width: auto;
	height: auto;
	opacity: 1;
	visibility: visible;
	top: auto;
	left: auto;
	-webkit-transform: none;
	transform: none;
	pointer-events: auto;
}

.no-js .morph-button .morph-content .icon-close {
	display: none;
}

.no-js .morph-button-sidebar {
	width: 300px;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	height: 100%;
	background: #e85657;
	overflow: auto;
}

.no-transition {
	-webkit-transition: none !important;
	transition: none !important;
}

/* Media Queries */

@media screen and (max-width: 600px) {
	.morph-button-modal.open .morph-content {
		top: 0% !important;
		left: 0% !important;
		margin: 0;
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		-webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
		transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
	}
}

@media screen and (max-width: 400px) {
	.morph-button-fixed,
	.morph-button-fixed .morph-content {
		width: 200px;
		height: 80px;
	}

	.morph-button-fixed > button {
		font-size: 75%;
	}

	.morph-button-modal-4,
	.morph-button-modal-4 .morph-content {
		width: 220px;
		height: 120px;
	}

	.morph-button-modal-4 > button {
		font-size: 100%;
		line-height: 50px;
	}

	.morph-button-modal-4 > button span {
		display: block;
	}

	.morph-button-modal-4 .morph-clone {
		right: 83px;
		bottom: 26px;
	}

}