
@import "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";

body {
  background: #39D;
}

.circular-menu {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  position: relative;
}

.circle {
  width: 250px;
  height: 250px;
  opacity: 0;
  
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.open.circle {
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.circle a {
  text-decoration: none;
  color: white;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  position: absolute;
  text-align: center;

}

.circle a:hover {
  color: #eef;
}

.menu-button {
  background: none repeat scroll 0 0 #dde;
  border-radius: 50%;
  color: #444;
  display: block;
  height: 100px;
  left: calc(50% - 50px);
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: calc(50% - 50px);
  width: 100px;
}

.menu-button:hover {
  background-color: #eef;
}

/* Author stuff */
h1.author {
  text-align:center;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
}

h1.author a {
  color: #348;
  text-decoration:none;
}

h1.author a:hover {
  color: #ddd;
} 



/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}




/* Icomoon font Icons */
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?i64fx9');
	src:url('../fonts/icomoon/icomoon.eot?#iefixi64fx9') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff?i64fx9') format('woff'),
		url('../fonts/icomoon/icomoon.ttf?i64fx9') format('truetype'),
		url('../fonts/icomoon/icomoon.svg?i64fx9#icomoon') format('svg');
}

.icon-close {
	z-index: 100;
	display: block;
	overflow: hidden;
	width: 3em;
	height: 3em;
	text-align: center;
	line-height: 3;
	cursor: pointer;
}

.icon:before {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'icomoon';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-camera:before {
	content: "\e017";
}

.icon-server:before {
	content: "\e022";
}

.icon-heart:before {
	content: "\e024";
}

.icon-zoom-in:before {
	content: "\e037";
}

.icon-microphone:before {
	content: "\e048";
}

.icon-cloud:before {
	content: "\e066";
}

.icon-user:before {
	content: "\e074";
}

.icon-briefcase:before {
	content: "\e075";
}

.icon-globe:before {
	content: "\e078";
}

.icon-cog::before {
	content: "\e600";
}

.icon-close::before {
	content: "\e601";
}

.icon-play::before {
	content: "\e602";
}

.icon-pause::before {
	content: "\e603";
}

.icon-close {
	position: absolute;
	top: 5px;
	right: 0px;
}

.icon-close:hover {
	color: #a50a05;
}


.morph-button.open .content-style-form-2 h2,
.morph-button.open .content-style-form-2 p,
.morph-button.open .content-style-form-2 .icon-close {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.morph-button.open .content-style-form-4 p {
	opacity: 1;
	-webkit-transition: opacity 0.4s 0.2s, -webkit-transform 0.4s 0.2s;
	transition: opacity 0.4s 0.2s, transform 0.4s 0.2s;
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

.morph-button.open .content-style-form-4 p:nth-child(2) {
	-webkit-transition-delay: 0.35s;
	transition-delay: 0.35s;
}

.content-style-social {
	padding: 30px;
	text-align: left;
}

.morph-button-inflow-2 > button svg {
	display: inline-block;
	padding-right: 10px;
	width: 20px;
	height: 20px;
	vertical-align: -5%;
}

.morph-button-inflow-2 > button svg path {
	fill: #e75854;
}

.morph-button-inflow.open .content-style-social a {
	-webkit-transform: translateX(0);
	transform: translateX(0);	
}

.morph-button-inflow.open .content-style-social a:nth-child(2) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.morph-button-inflow.open .content-style-social a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.blueprints{
    display: none;
}
