
@import "http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css";


/***  floating arrow  ***/
.floating{
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    /*
    margin-left: 30px;
    margin-top: 5px;
*/
}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}    
}


/*** pulsing circle menu ***/
.scaling{
    -webkit-animation-name: scalex;
    -webkit-animation-duration:3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -moz-animation-name: scale;
    -moz-animation-duration:3s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
}
    
@-webkit-keyframes scalex{
    from {-webkit-transform: scale(0.9);}
    65% {-webkit-transform: scale(1.0);}
    to {-webkit-transform: scale(0.9);}    
}

@-moz-keyframes scale{
    from {-moz-transform: scale(0.9);}
    65% {-moz-transform: scale(1.0);}
    to {-moz-transform: scale(0.9);}    
}

/*** circle menu ***/
.circular-menu {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  position: relative;
}

.circle {
  width: 250px;
  height: 250px;
  opacity: 0;
  
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);

  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
    

    /* easeOutCubic 
    
    -webkit-transition: all 1000ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
       -moz-transition: all 1000ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
         -o-transition: all 1000ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition: all 1000ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
*/        
}

.open.circle {
  opacity: 1;

  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

.circle a {
    text-decoration: none;
    color: #00B4CC;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    position: absolute;
    text-align: center;
    cursor: pointer;
}

.circle a:hover {
  color: #eef;
}

.menu-button, .logoimg {
    display: block;
    height: 100px;
    left: calc(50% - 50px);
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: calc(50% - 50px);
    width: 100px;
    cursor: pointer;
}

.menu-button {    
  background: none repeat scroll 0 0 #EBFBFC;
  border-radius: 50%;
  /* color: #444; */
}

.menu-button:hover {
  background-color: #eef;
}


/*** imgs Hover effect  ***/

.ch-item {
	/* width: 100%;
	height: 100%; */ 
    
    width: 300px;
    height: 300px;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow: 
		inset 0 0 0 0 rgba(0,140,158, 0.4),
		inset 0 0 0 16px rgba(0,140,158, 0.6),
		0 1px 2px rgba(0,0,0,0.1);
		
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.ch-img-1 { 
	background-image: url(../images/4.jpg);
}

.ch-img-2 { 
	background-image: url(../images/5.jpg);
}

.ch-img-3 { 
	background-image: url(../images/6.jpg);
}

.ch-info {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	opacity: 0;
	
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	
	-webkit-backface-visibility: hidden; /*for a smooth font */

}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 2px;
	font-size: 25px;
	margin: 0 30px;
	padding: 65px 0 0 0;
	height: 110px;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 14px;
	border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;	
}

.ch-info p a:hover {
	color: #fff222;
	color: rgba(255,242,34, 0.8);
}

.ch-item:hover {
	box-shadow: 
		inset 0 0 0 150px rgba(0,140,158, 0.6),
		inset 0 0 0 16px rgba(255,255,255,0.8),
		0 1px 2px rgba(0,0,0,0.1);
}

.ch-item:hover .ch-info {
	opacity: 1;
	
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);	
}



/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}




/* Icomoon font Icons */
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?i64fx9');
	src:url('../fonts/icomoon/icomoon.eot?#iefixi64fx9') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff?i64fx9') format('woff'),
		url('../fonts/icomoon/icomoon.ttf?i64fx9') format('truetype'),
		url('../fonts/icomoon/icomoon.svg?i64fx9#icomoon') format('svg');
}

.icon-close {
	z-index: 100;
	display: block;
	overflow: hidden;
	width: 3em;
	height: 3em;
	text-align: center;
	line-height: 3;
	cursor: pointer;
}

.icon:before {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'icomoon';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-camera:before {
	content: "\e017";
}

.icon-server:before {
	content: "\e022";
}

.icon-heart:before {
	content: "\e024";
}

.icon-zoom-in:before {
	content: "\e037";
}

.icon-microphone:before {
	content: "\e048";
}

.icon-cloud:before {
	content: "\e066";
}

.icon-user:before {
	content: "\e074";
}

.icon-briefcase:before {
	content: "\e075";
}

.icon-globe:before {
	content: "\e078";
}

.icon-cog::before {
	content: "\e600";
}

.icon-close::before {
	content: "\e601";
}

.icon-play::before {
	content: "\e602";
}

.icon-pause::before {
	content: "\e603";
}

.icon-close {
	position: absolute;
	top: 5px;
	right: 0px;
}

.icon-close:hover {
	color: #a50a05;
}


.morph-button.open .content-style-form-2 h2,
.morph-button.open .content-style-form-2 p,
.morph-button.open .content-style-form-2 .icon-close {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.morph-button.open .content-style-form-4 p {
	opacity: 1;
	-webkit-transition: opacity 0.4s 0.2s, -webkit-transform 0.4s 0.2s;
	transition: opacity 0.4s 0.2s, transform 0.4s 0.2s;
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

.morph-button.open .content-style-form-4 p:nth-child(2) {
	-webkit-transition-delay: 0.35s;
	transition-delay: 0.35s;
}

.content-style-social {
	padding: 30px;
	text-align: left;
}

.morph-button-inflow-2 > button svg {
	display: inline-block;
	padding-right: 10px;
	width: 20px;
	height: 20px;
	vertical-align: -5%;
}

.morph-button-inflow-2 > button svg path {
	fill: #e75854;
}

.morph-button-inflow.open .content-style-social a {
	-webkit-transform: translateX(0);
	transform: translateX(0);	
}

.morph-button-inflow.open .content-style-social a:nth-child(2) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.morph-button-inflow.open .content-style-social a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.blueprints{
    display: none;
}


/*** icons hover ***/

.tt-wrapper{
}
.tt-wrapper li{
	float: left;
}

.tt-wrapper a span{
	width: 100px;
	height: auto;
	line-height: 20px;
	padding: 5px;
	margin-left: -22px;
	/* font-family: 'Alegreya SC', Georgia, serif; */
	font-weight: 700;	
	font-style: italic;
	color: #00DFFC;
    
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	text-align: center;
	border: 3px solid #fff;
	background: rgba(56, 54, 52, 0);
	text-indent: 0px;
	border-radius: 5px;
	position: absolute;
	pointer-events: none;
	bottom: 95px;
	opacity: 0;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.tt-wrapper a span:before,
.tt-wrapper a span:after{
	content: '';
	position: absolute;
	bottom: -15px;
	left: 50%;
	margin-left: -9px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid rgba(0,0,0,0.1);
}
.tt-wrapper a span:after{
	bottom: -12px;
	margin-left: -10px;
	border-top: 10px solid #fff;
}
.tt-wrapper a:hover span{
	opacity: 0.9;
	/* bottom: 70px; */
}



