/*@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700); */

@import url(http://fonts.googleapis.com/css?family=Exo|Lekton|Iceland|Passero+One|Corben|Expletus+Sans|Baumans);
/*
@font-face {
   font-family: 'calamity';
   src: url( ../fonts/CalamityJaneNF.ttf);
   src: local ('Ø'), url( ../fonts/CalamityJaneNF.ttf) format('ttf')
}

@font-face {
   font-family: 'cafeandbrewery';
   src: url( ../fonts/cafeandbrewery.ttf);
   src: local ('Ø'), url( ../fonts/cafeandbrewery.ttf) format('ttf')
}
*/


html { height: 100%; }

/*
*,
*:after,
*:before {
*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body h1 {
    /* overwrite the normalizer.css */
	margin: 0;
}

body {
    font-family: Candara;
    font-weight: 300;
    font-size: 15px;
    overflow: scroll;
    overflow-x: hidden;
}

a {
	color: #555;
	text-decoration: none;
}

.container {
	width: 100%;
	position: relative;
}

/*
.container section {
    max-width: 1024px;
    margin: 0 auto;
}
*/

.about{
    /*
	width: 90%;
	max-width: 1280px;
    */
    max-width: 650px;
	margin: 0 auto;
	position: relative;
	padding: 100px 0 0;
	text-align: center;
    font-size: 40px;
}

.main{
    /* padding: 0 0 450px; */
    padding: 0;
}

/*
.container > header .initials {
  border: 5px dotted;
  border-radius: 200px;
  float: left;
  font-family: 'cafeandbrewery';
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 5px;
  padding: 20px 10px;
}
*/

.main > p {
	text-align: center;
	padding: 50px 20px;
}

.main > .og-grid li .ch-item.vd{
    /* circle */
    border-radius: 50%;
}


.main > .og-grid li .ch-item.gd{
    /* smooth rectangle */
    border-radius: 50px;
}

.main > .og-grid li .ch-item.gp{
    /* ensure rectangle */
    border-radius: 0px;
}
    
.header {
    margin: 100px 0px 0px 0px;
    padding: 50px 0;
    width: 100%;
    height: auto;
    font-weight: 700;
    /* box-shadow: 0 10px 10px -15px; */
}

.gonext {
    display: block;
    height: 30px;
    width: 30px;
    padding: 0;
    cursor: pointer;
}


.footer {
    text-align: center;
    margin: 25% auto 0;
    /*
    margin: 200px auto 0;
    box-shadow: 0 -10px 10px -15px;
    max-width: 1280px;
    */
}

.footer a{
    display: inline-block;
    margin: 25px;
    height: 56px;
    width: 56px;
    padding: 0;
}

.header.vd, .og-details.vd h3{
    font-family: 'Corben', cursive;
}

.header.gd, .og-details.gd h3{
    font-family: 'Exo', sans-serif;
}

.header.gd p {
    font-size: 43px;
}

.header.gp, .og-details.gp h3{
    font-family: 'Iceland';
    font-weight: 100;    
}

.header.gp p {
    font-size: 50px;
}

.header p{
    line-height: 1.1;
    font-size: 40px;
}

.container {
    background-image: url("../images/texture/dots-300x300-fine_transparent.png");
}

.intro{
    text-align: center;
}

.title {
    font-size: 40px;
    margin: 0 auto;
    max-width: 640px;
    min-width: 480px;
    padding: 50px 0;
    text-align: center;
}

.about > p {
    margin: 25px auto;
    font-weight: 700;
    color: #00dffc;
}

.logo {
    padding: 80px 0 50px;
    text-align: center;
    background-color: #111;
    background-image: url("../images/texture/dots-300x300-fine_transparent.png");
}

.logo > img{
    width: 100px;
    height: 100px;
}


.container section.intro {
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"); /* fallback */
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"), -webkit-gradient(linear, left top, left bottom, from(#111), to(#423F3F)); /* Saf4+, Chrome */
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"), -webkit-linear-gradient(top, #111, #423F3F); /* Chrome 10+, Saf5.1+ */
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"),    -moz-linear-gradient(top, #111, #423F3F); /* FF3.6+ */
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"),     -ms-linear-gradient(top, #111, #423F3F); /* IE10 */
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"),      -o-linear-gradient(top, #111, #423F3F); /* Opera 11.10+ */
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"),         linear-gradient(to bottom, #111, #423F3F); /* W3C */        
}


.footer {
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"); /* fallback */
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"), -webkit-gradient(linear, left bottom, left top, from(#222), to(#423F3F)); /* Saf4+, Chrome */
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"), -webkit-linear-gradient(bottom, #222, #423F3F); /* Chrome 10+, Saf5.1+ */
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"),    -moz-linear-gradient(bottom, #222, #423F3F); /* FF3.6+ */
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"),     -ms-linear-gradient(bottom, #222, #423F3F); /* IE10 */
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"),      -o-linear-gradient(bottom, #222, #423F3F); /* Opera 11.10+ */
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"),         linear-gradient(to top, #222, #423F3F); /* W3C */          
}

/* overwrite for theme iced concret: http://www.colourlovers.com/palette/3450740/iced_concret */

body {
    background-color: #423f3f;
    color: #00DFFC;
}

body p{
    color: #00b4cc;    
}


.header p {
    color: #00DFFC;
}

.old_expaner{
    background-color: #343838;
    color: #00DFFC;    
}

.og-expander {
    background-color: #383634;
    color: #00DFFC;
}

.og-details a {
    background-color: #008c9e;
    color: #383634;
    border-color: #008c9e;
}

.og-details a:hover{
    border-color: #00DFFC;
    color: #00DFFC;
}

.og-details p{
    color: #00b4cc;
}

.morph-button-modal-4 > button, .morph-button-modal-4 .morph-content{
    background-color: #008c9e;
    color: #383634;
}

.morph-button-fixed, .morph-button-fixed .morph-content{
    color: #00B4CC;
    border-color: #008c9e;
}

.morph-button-fixed:hover, .morph-button-fixed:hover > button{
    border-color: #00DFFC;
    color: #00DFFC;
}

.og-close {
    color: #00B4CC;
}

.og-close:hover{
    color: #00DFFC;
}

.og-grid li.og-expanded .ch-item::after {
    top: 300px;
    border-bottom-color: #00DFFC;    
}




.trailer_wrapper{
    position: relative;
    /*
    padding-bottom: 56.25%;
    padding-top: 35px;
    */
    max-width: 640px;
    height: 360px;
    /* overflow: hidden; */
	margin: auto;
    text-align: center;
}

/*
#trailer {
	margin: 200px auto 150px;
    text-align: center;
    width: 640px;
    min-height: 360px;
}
*/

.trailer_wrapper > .trailer {
    position: absolute;
    top:0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;   
}




/**** title and background ****/

@media screen and (min-width: 320px) and (max-width: 640px) {

    .logo{
        padding: 0;
    }
    
    .title{
        min-width: 0;
    }
    
    .title {
        font-size: 21px;
        padding: 10% 0 5%;
    }    
    
    .about{
        font-size: 21px;
        padding: 5% 5%;
    }
    
    .about > p {
        margin: 12% auto;    
    }
    
    .main > .og-grid li.gonext{
        margin: 10% 40% 0;
    }
    
    .about > p:last-child {
      margin-bottom: 5%;
    }
    
    .main{
        padding: 0;
    }

    .main > .og-grid li .ch-item {
        max-width: 200px;
        max-height: 200px;
    }
    
    
    .og-grid li.header{
        margin: 25% auto 0;
        padding: 5% 0 0;
    }
    
    .og-grid li{
        margin: 15% 5% 0;
    }
    
    .og-expander-inner{
        padding: 10%;
    }
    
    .stack{
        float: none;
        margin: 0 auto;
        height: 300px;
        width: 300px;
    }
    
    .og-details{
        padding: 0;
    }
    
    .morph-button-modal-4.open .morph-content {
        margin: 0 auto; 
        width: 100%;
        height: 365px;
    }
    
    .morph-button-modal.open .morph-content{
        left: 0% !important;
        top: 0% !important;
    }    
    
    
    
    
    .morph-button-modal-4, .morph-button-modal-4 .morph-content{
        height: 60px;
    }
    
    .og-details a,
    .morph-button-fixed, .morph-button-fixed .morph-content{
        margin: 15% auto 0;
        width: 250px;
        padding: 0;
    }
    
    .morph-button-modal-4 > button{
        line-height: 55px;
    }    
    
    .og-grid li.og-expanded .ch-item:after{
        top: 100%;
    }

    .tt-wrapper a span{
        display: none;
    }    
    
    .footer{
        margin: 35% auto 0;
    }
    
}

@media screen and (min-width: 320px) and (max-width: 640px) and (orientation:landscapey) {
    
    .stack{
    }
}

@media screen and (min-width: 640px) and (max-width: 830px){
    
    .stack{
        float: none;
        margin: 2% auto;
        max-width: 50%;
    }
    
    .og-details {
        float: none;
        padding: 0 5%;
        width: 100%;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    
    .stack{
    /*
        float: left;
        margin: 2% auto;
*/
        max-width: 50%;
    }
    
    .og-details {
    /*
        float: left;
        padding: 0 5%;
*/
        max-width: 50%;
    }
    
    .morph-button-modal-4.open .morph-content {
        /* margin: 0 auto; */
        margin: -200px 0 0 -50%;
        width: 100%;
        height: 365px;
    }
    /*
    .morph-button-modal.open .morph-content{
        left: 0% !important;
        top: 0% !important;
    }    
    */
    
}

@media screen and (min-width: 768px) and (max-width: 1262px) {
    

}

/* ensure the line break of gonext button */
@media screen and (min-width: 640px) and (max-width: 1262px) {

    .og-grid li.gonext {
        margin: 10% 45%;
    }
}

/**** mobile breaks title and background ****/

@media screen and (min-width: 320px) and (max-width: 480px) {
    
    
}

@media screen and (min-width: 320px) and (max-width: 400px) {

    /*  make sure the "game programming" has the correct linebreak */
    .header.gp p{
        margin: 0 5%;
    }
    
}

@media screen and (min-width: 400px) and (max-width: 640px) {
 

    
}

@media screen and (min-width: 480px) and (max-width: 640px) {


    
}

/**** screenblock paddings ****/

@media screen and (min-width: 540px) and (max-width: 640px) {


    
}

@media screen and (min-width: 980px) and (max-width: 1024px) {


    
}


@media screen and (min-width: 640px) and (max-width: 720px) {
    

    
}

@media screen and (min-width: 721px) and (max-width: 768px) {


    
}


@media screen and (min-width: 320px) and (max-width: 768px){


    
}


@media screen and (min-width: 768px) {

    .og-close {
        top: 5%;
    }

    body h1 {
        /* overwrite the normalizer.css */
        font-size: 60px;
    }
    
}

    
}

@media screen and (min-width: 320px) and (max-width: 480px) and (orientation:portrait){


    
}

@media screen and (min-width: 360px) and (max-width: 640px) and (orientation:portrait){


}

@media screen and (min-width: 768px) and (max-width: 800px) and (orientation:portrait){

    
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation:portrait){


    
}

@media screen and (min-width: 1024px) {
    

}


/**** pic sizes and paddings ****/

@media screen and (min-width: 320px) and (max-width: 480px) {
    

}

@media screen and (min-width: 480px) and (max-width: 640px) {
    

}

@media screen and (min-width: 640px) {


}


/**** different footer for mobile devices ****/

@media screen and (min-width: 320px) and (max-width: 767px) {



}

