/*@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700); */

@import url(http://fonts.googleapis.com/css?family=Exo|Lekton|Iceland|Passero+One|Corben|Expletus+Sans|Baumans);

@font-face {
   font-family: 'calamity';
   src: url( ../fonts/CalamityJaneNF.ttf);
   src: local ('Ø'), url( ../fonts/CalamityJaneNF.ttf) format('ttf')
}

@font-face {
   font-family: 'cafeandbrewery';
   src: url( ../fonts/cafeandbrewery.ttf);
   src: local ('Ø'), url( ../fonts/cafeandbrewery.ttf) format('ttf')
}



html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
    /*font-family: 'Lato', Calibri, Arial, sans-serif; */
    font-family: Candara;
    background: #f9f9f9;
    font-weight: 300;
    font-size: 15px;
    color: #333;
    overflow: scroll;
    overflow-x: hidden;
}

a {
	color: #555;
	text-decoration: none;
}

.container {
	width: 100%;
	position: relative;
}

.container > header, .container section .about{
	width: 90%;
	max-width: 1280px;
	margin: 0 auto;
	position: relative;
	padding: 0 30px 50px 30px;
	padding: 60px 30px 50px;
	text-align: center;
    font-size: 70px;
}

.container section.main{
    padding: 0 0 450px;
}


.container > header .initials {
  border: 5px dotted;
  border-radius: 200px;
  float: left;
  font-family: 'cafeandbrewery';
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 5px;
  padding: 20px 10px;
}

.main > p {
	text-align: center;
	padding: 50px 20px;
}

.main > .og-grid li > a img.vd{
    /* circle */
    border-radius:500px;
}


.main > .og-grid li > a img.gd{
    /* smooth rectangle */
    border-radius: 50px;
}

.main > .og-grid li.header {
    margin: 450px 0px 0px 0px;
    padding: 10px 0;
    width: 100%;
    height: auto;
    /* box-shadow: 0 10px 10px -15px; */
}

.main.vd > .og-grid li > a img{
    /* circle */
    border-radius:500px;
}


.main.gd > .og-grid li > a img{
    /* smooth rectangle */
    border-radius: 50px;
}


.footer {
    text-align: center;
    /*
    margin: 200px auto 0;
    box-shadow: 0 -10px 10px -15px;
    max-width: 1280px;
    */
}

.footer a{
    display: inline-block;
    margin: 25px;
    height: 56px;
    width: 56px;
    padding: 0;
}

.header.vd, .og-details.vd h3{
    font-family: 'Corben', cursive;
}

.header.gd, .og-details.gd h3{
    font-family: 'Exo', sans-serif;
}

.header.gd p {
    font-size: 53px;
}

.header.gp, .og-details.gp h3{
    /* font-family: 'Lekton', sans-serif; */
    font-family: 'Iceland';
}

.header.gp p {
    font-size: 60px;
}

.header p{
    line-height: 1.1;
    font-size: 50px;
}

/*
.diamond .top{
    background-image: url("../images/thumbs/hexaplex_board_n_cards_color_250.png");
    background-position: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 125px 166px 125px;
    border-color: transparent transparent #007bff transparent;    
}

.diamond .bot{
    background-image: url("../images/thumbs/hexaplex_board_n_cards_color_250.png");
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 83px 125px 0 125px;
    border-color: #007bff transparent transparent transparent;
}

#octagon {
 width: 100px;
 height: 100px;
 background: red;
 position: relative;
}

#octagon:before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 border-bottom: 29px solid red;
 border-left: 29px solid #eee;
 border-right: 29px solid #eee;
 width: 42px;
 height: 0;
}

#octagon:after {
 content: "";
 position: absolute;
 bottom: 0;
 left: 0;
 border-top: 29px solid red;
 border-left: 29px solid #eee;
 border-right: 29px solid #eee;
 width: 42px;
 height: 0;
}
*/


/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}




/* Icomoon font Icons */
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?i64fx9');
	src:url('../fonts/icomoon/icomoon.eot?#iefixi64fx9') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff?i64fx9') format('woff'),
		url('../fonts/icomoon/icomoon.ttf?i64fx9') format('truetype'),
		url('../fonts/icomoon/icomoon.svg?i64fx9#icomoon') format('svg');
}

.icon-close {
	z-index: 100;
	display: block;
	overflow: hidden;
	width: 3em;
	height: 3em;
	text-align: center;
	line-height: 3;
	cursor: pointer;
}

.icon:before {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'icomoon';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-camera:before {
	content: "\e017";
}

.icon-server:before {
	content: "\e022";
}

.icon-heart:before {
	content: "\e024";
}

.icon-zoom-in:before {
	content: "\e037";
}

.icon-microphone:before {
	content: "\e048";
}

.icon-cloud:before {
	content: "\e066";
}

.icon-user:before {
	content: "\e074";
}

.icon-briefcase:before {
	content: "\e075";
}

.icon-globe:before {
	content: "\e078";
}

.icon-cog::before {
	content: "\e600";
}

.icon-close::before {
	content: "\e601";
}

.icon-play::before {
	content: "\e602";
}

.icon-pause::before {
	content: "\e603";
}

.icon-close {
	position: absolute;
	top: 5px;
	right: 0px;
}

.icon-close:hover {
	color: #a50a05;
}


.morph-button.open .content-style-form-2 h2,
.morph-button.open .content-style-form-2 p,
.morph-button.open .content-style-form-2 .icon-close {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.morph-button.open .content-style-form-4 p {
	opacity: 1;
	-webkit-transition: opacity 0.4s 0.2s, -webkit-transform 0.4s 0.2s;
	transition: opacity 0.4s 0.2s, transform 0.4s 0.2s;
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

.morph-button.open .content-style-form-4 p:nth-child(2) {
	-webkit-transition-delay: 0.35s;
	transition-delay: 0.35s;
}

.content-style-social {
	padding: 30px;
	text-align: left;
}

.morph-button-inflow-2 > button svg {
	display: inline-block;
	padding-right: 10px;
	width: 20px;
	height: 20px;
	vertical-align: -5%;
}

.morph-button-inflow-2 > button svg path {
	fill: #e75854;
}

.morph-button-inflow.open .content-style-social a {
	-webkit-transform: translateX(0);
	transform: translateX(0);	
}

.morph-button-inflow.open .content-style-social a:nth-child(2) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.morph-button-inflow.open .content-style-social a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.blueprints{
    display: none;
}



/* overwrites for Terra theme: http://pltts.me/palettes/292482 */ 


body {
    background-color: #033649;
    color: #CDB380;
}

body p{
    color: #CDB380;    
}

.header p {
    color: #CDB380;
}

.container section.intro{
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"); /* fallback */
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"), -webkit-gradient(linear, left top, left bottom, from(#111), to(#033649)); /* Saf4+, Chrome */
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"), -webkit-linear-gradient(top, #111, #033649); /* Chrome 10+, Saf5.1+ */
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"),    -moz-linear-gradient(top, #111, #033649); /* FF3.6+ */
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"),     -ms-linear-gradient(top, #111, #033649); /* IE10 */
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"),      -o-linear-gradient(top, #111, #033649); /* Opera 11.10+ */
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"),         linear-gradient(to bottom, #111, #033649); /* W3C */        
}

.container section.main{
    background-image: url("../images/texture/dots-300x300-fine_transparent.png");
}

.footer {
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"); /* fallback */
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"), -webkit-gradient(linear, left bottom, left top, from(#222), to(#033649)); /* Saf4+, Chrome */
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"), -webkit-linear-gradient(bottom, #222, #033649); /* Chrome 10+, Saf5.1+ */
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"),    -moz-linear-gradient(bottom, #222, #033649); /* FF3.6+ */
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"),     -ms-linear-gradient(bottom, #222, #033649); /* IE10 */
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"),      -o-linear-gradient(bottom, #222, #033649); /* Opera 11.10+ */
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"),         linear-gradient(to top, #222, #033649); /* W3C */          
}

.og-expander {
    background-color: #031634;
    color: #CDB380;
}

.og-details a {
    background-color: #036564;
    color: #031634;
    border-color: #036564;
}

.og-details a:hover{
    border-color: #CDB380;
    color: #CDB380;
}

.morph-button-modal-4 > button, .morph-button-modal-4 .morph-content{
    background-color: #036564;
    color: #031634;
}

.morph-button-fixed, .morph-button-fixed .morph-content{
    color: #00B4CC;
    border-color: #036564;
}

.morph-button-fixed:hover, .morph-button-fixed:hover > button{
    border-color: #CDB380;
    color: #CDB380;
}


.og-grid li.og-expanded > a::after {
    border-bottom-color: #CDB380;
}

.og-close:before, .og-close:after{
    background-color: #036564;
}

.og-close:hover:before, .og-close:hover:after{
    background-color: #CDB380;
}
