/*@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700); */

@import url(http://fonts.googleapis.com/css?family=Exo|Lekton|Iceland|Passero+One|Corben|Expletus+Sans|Baumans);

@font-face {
   font-family: 'calamity';
   src: url( ../fonts/CalamityJaneNF.ttf);
   src: local ('Ø'), url( ../fonts/CalamityJaneNF.ttf) format('ttf')
}

@font-face {
   font-family: 'cafeandbrewery';
   src: url( ../fonts/cafeandbrewery.ttf);
   src: local ('Ø'), url( ../fonts/cafeandbrewery.ttf) format('ttf')
}



html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
    font-family: Candara;
    font-weight: 300;
    font-size: 15px;
    overflow: scroll;
    overflow-x: hidden;
}

a {
	color: #555;
	text-decoration: none;
}

.container {
	width: 100%;
	position: relative;
}

.container > header, .container section .about{
	width: 90%;
	max-width: 1280px;
	margin: 0 auto;
	position: relative;
	padding: 0 30px 50px 30px;
	padding: 60px 30px 50px;
	text-align: center;
    font-size: 40px;
}

.container section.main{
    padding: 0 0 450px;
}


.container > header .initials {
  border: 5px dotted;
  border-radius: 200px;
  float: left;
  font-family: 'cafeandbrewery';
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 5px;
  padding: 20px 10px;
}

.main > p {
	text-align: center;
	padding: 50px 20px;
}

.main > .og-grid li a img.vd{
    /* circle */
    border-radius: 50%;
}


.main > .og-grid li a img.gd{
    /* smooth rectangle */
    border-radius: 50px;
}

.main > .og-grid li.header {
    margin: 100px 0px 0px 0px;
    padding: 10px 0;
    width: 100%;
    height: auto;
    /* box-shadow: 0 10px 10px -15px; */
}

.main > .og-grid li.gonext {
    display: block;
    height: 30px;
    margin: 300px 0 0;
    padding: 0;
    cursor: pointer;
}


.footer {
    text-align: center;
    /*
    margin: 200px auto 0;
    box-shadow: 0 -10px 10px -15px;
    max-width: 1280px;
    */
}

.footer a{
    display: inline-block;
    margin: 25px;
    height: 56px;
    width: 56px;
    padding: 0;
}

.header.vd, .og-details.vd h3{
    font-family: 'Corben', cursive;
}

.header.gd, .og-details.gd h3{
    font-family: 'Exo', sans-serif;
}

.header.gd p {
    font-size: 43px;
}

.header.gp, .og-details.gp h3{
    /* font-family: 'Lekton', sans-serif; */
    font-family: 'Iceland';
}

.header.gp p {
    font-size: 50px;
}

.header p{
    line-height: 1.1;
    font-size: 40px;
}

.container {
    background-image: url("../images/texture/dots-300x300-fine_transparent.png");
}

.container section.intro{
    text-align: center;
}

.container section.intro .about > p {
    margin: 25px auto;
    max-width: 550px;
}

.container section.logo {
    padding: 80px 0 50px;
    text-align: center;
    background-color: #111;
    background-image: url("../images/texture/dots-300x300-fine_transparent.png");
}

.container section.logo > img{
    width: 100px;
    height: 100px;
}


.container section.intro {
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"); /* fallback */
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"), -webkit-gradient(linear, left top, left bottom, from(#111), to(#423F3F)); /* Saf4+, Chrome */
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"), -webkit-linear-gradient(top, #111, #423F3F); /* Chrome 10+, Saf5.1+ */
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"),    -moz-linear-gradient(top, #111, #423F3F); /* FF3.6+ */
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"),     -ms-linear-gradient(top, #111, #423F3F); /* IE10 */
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"),      -o-linear-gradient(top, #111, #423F3F); /* Opera 11.10+ */
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"),         linear-gradient(to bottom, #111, #423F3F); /* W3C */        
}


.footer {
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"); /* fallback */
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"), -webkit-gradient(linear, left bottom, left top, from(#222), to(#423F3F)); /* Saf4+, Chrome */
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"), -webkit-linear-gradient(bottom, #222, #423F3F); /* Chrome 10+, Saf5.1+ */
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"),    -moz-linear-gradient(bottom, #222, #423F3F); /* FF3.6+ */
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"),     -ms-linear-gradient(bottom, #222, #423F3F); /* IE10 */
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"),      -o-linear-gradient(bottom, #222, #423F3F); /* Opera 11.10+ */
    background-image: url("../images/texture/dots-300x300-fine_transparent.png"),         linear-gradient(to top, #222, #423F3F); /* W3C */          
}

/* overwrite for theme iced concret: http://www.colourlovers.com/palette/3450740/iced_concret */

body {
    background-color: #423f3f;
    color: #00DFFC;
}

body p{
    color: #00b4cc;    
}


.header p {
    color: #00DFFC;
}

.old_expaner{
    background-color: #343838;
}

.og-expander {
    background-color: #383634;
    color: #00DFFC;
}

.og-details a {
    background-color: #008c9e;
    color: #383634;
    border-color: #008c9e;
}

.og-details a:hover{
    border-color: #00DFFC;
    color: #00DFFC;
}

.og-details p{
    color: #00b4cc;
}

.morph-button-modal-4 > button, .morph-button-modal-4 .morph-content{
    background-color: #008c9e;
    color: #383634;
}

.morph-button-fixed, .morph-button-fixed .morph-content{
    color: #00B4CC;
    border-color: #008c9e;
}

.morph-button-fixed:hover, .morph-button-fixed:hover > button{
    border-color: #00DFFC;
    color: #00DFFC;
}

.og-close:before, .og-close:after{
    background-color: #00B4CC;
}

.og-grid li.og-expanded > a::after {
    border-bottom-color: #00dffc;
}

.og-close:hover:before, .og-close:hover:after{
    background-color: #00DFFC;
}

